// файл подключается во vue.config.js
// похоже, подключается заново к каждому компоненту => подходит только для миксинов и т.п.


@mixin arrow($thick, $width, $color, $direction) {
  border: solid $color;
  border-width: 0 $thick $thick 0;
  display: block;
  width: 0;
  margin: 0 auto;
  padding: $width;
  position: relative;
  @if ($direction == down) {
    transform: rotate(45deg);
    top: -$width/2 - 1;
  } @else if ($direction == up) {
    transform: rotate(-135deg);
    top: $width/2 + 1;
  }
}
